$gray1   :    #2B303B
$gray2   :    #343D46
$gray3   :    #4F5B66
$gray4   :    #A7ADBA
$gray5   :    #DFE1E8
$gray6   :    #EFF1F5

$pri1    :    #579EFF
$pri2    :    #84C7FF
$pri3    :    #E4F1FE

$error   :    #F44336
$success :    #62B965
$warning :    #FDD835
