<div class="container registration-container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="page vertical-align text-center">
                <div class="page-content vertical-align-middle">
                    <p>Sign up to find interesting thing</p>
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['name'].valid && registerForm.controls['name'].touched}">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" [formControl]="registerForm.controls['name']" [(ngModel)]="model.name">
                            <span class="help-block" *ngIf="!registerForm.controls['name'].valid && registerForm.controls['name'].touched">Name must be between 2 and 24 characters long</span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['nickname'].valid && registerForm.controls['nickname'].touched}">
                            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname" [formControl]="registerForm.controls['nickname']" [(ngModel)]="model.nickname">
                            <span class="help-block" *ngIf="!registerForm.controls['nickname'].valid && registerForm.controls['nickname'].touched">Nickname must be between 2 and 20 characters long</span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['email'].valid && registerForm.controls['email'].touched}">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" validateEmail [formControl]="registerForm.controls['email']" [(ngModel)]="model.email">
                            <span class="help-block" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">Please enter valid e-mail address</span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['company'].valid && registerForm.controls['company'].touched}">
                            <input type="text" class="form-control" id="company" name="company" placeholder="Company" [formControl]="registerForm.controls['company']" [(ngModel)]="model.company">
                            <span class="help-block" *ngIf="!registerForm.controls['company'].valid && registerForm.controls['company'].touched">Company is required</span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['password'].valid && registerForm.controls['password'].touched}">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="model.password" [formControl]="registerForm.controls['password']" validateEqual="passwordCheck">
                            <span class="help-block" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">Password must be at least 8 characters </span>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['confirm'].valid && registerForm.controls['confirm'].touched}">
                            <input type="password" class="form-control" id="passwordCheck" name="passwordCheck" placeholder="Confirm Password" [formControl]="registerForm.controls['confirm']" validateEqual="password">
                            <span class="help-block" *ngIf="!registerForm.controls['confirm'].valid && registerForm.controls['confirm'].touched">Please confirm your password</span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid || loading">Register</button>
                        <div *ngIf="loading" class="loader">
                            <img src="assets/img/svg/spin.svg" />
                        </div>
                    </form>
                    <p>Have account already? Please go to <a routerLink="/login">Sign In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
