<!-- Mailbox Content -->
<div class="page-content page-content-table" data-selectable="selectable">
    <!-- Mailbox -->
    <table id="mailboxTable" class="table" data-plugin="animateList" data-animate="fade" data-child="tr">
        <tbody>
            <div class="at-view-slide-in-left page-content page-app mailbox">
                <section class="app ">
                    <aside class="aside-md emails-list">
                        <section>
                            <div class="mailbox-page clearfix">
                                <h1 class="pull-left">{{category}}</h1>
                            </div>
                            <div class="tab-content">
                                <!-- <form [formGroup]="inboxForm"> -->
                                <div class="tab-pane fade in active">
                                    {{counter}}
                                    <div *ngFor="let message of messages" class="message-section">
                                        <div class="message-btn-section pull-left text-center" *ngIf="category !== 'Trash'">
                                            <button id="delete" class="btn-small btn-danger " type="button" (click)="moveToTrash(message)">X</button>
                                            <i class="btn-important icons-badges-votes-14" [ngClass]="{'active': message.State == 'important' }" (click)="moveToImportant(message)"></i>
                                        </div>
                                        <div class="message-btn-section pull-left text-center aligner" *ngIf="category === 'Trash'">
                                            <button class="btn-small btn-danger " type="button" (click)="deleteFromTrash(message)">
                                                <i class="icons-office-57"></i>
                                            </button>
                                        </div>
                                        <div class="messages-list withScroll show-scroll" data-padding="180" data-height="window" (click)="onSelect(message)">
                                            <!-- <input type="checkbox" [checked]="message.checked" (change)="message.checked = !message.checked" [formControl]="inboxForm.controls['checkbox']"> -->
                                            <div class="message-item media">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="sender">{{message.Sender}}</div>
                                                        <div class="subject"><span class="subject-text">{{message.Subject}}</span></div>
                                                        <div class="date">{{message.CreatedAt | date}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </form> -->
                            </div>
                        </section>
                    </aside>
                    <div class="email-details" *ngIf="selectedMessage">
                        <section>
                            <div class="email-subject">
                                <h1>{{selectedMessage.Subject}}</h1>
                                <div class="clearfix" *ngIf="category !== 'Sent'">
                                    <div class="go-back-list"><i data-rel="tooltip" data-placement="bottom" data-original-title="Back to email list" class="icon-arrow-left"></i></div>
                                    <p>from <strong><span class="sender">{{selectedMessage.Sender}}</span></strong> • <span class="date">{{selectedMessage.CreatedAt | date}}</span></p>
                                </div>
                                <div class="clearfix" *ngIf="category === 'Sent'">
                                    <div class="go-back-list"><i data-rel="tooltip" data-placement="bottom" data-original-title="Back to email list" class="icon-arrow-left"></i></div>
                                    <p>to <strong><span class="sender">{{selectedMessage.Receiver}}</span></strong> • <span class="date">{{selectedMessage.CreatedAt | date}}</span></p>
                                </div>
                            </div>
                            <div class="email-details-inner withScroll" data-height="window" data-padding="155">
                                <div class="email-content">
                                    <p>{{selectedMessage.Message}}</p>
                                </div>
                                <div class="answers">
                                    <div class="answer-subject">
                                        <h2 class="answer-title"></h2>
                                        <p>from <strong>me</strong> • <span class="answer-date"></span></p>
                                    </div>
                                    <div class="answer-content"></div>
                                </div>
                                <div class="write-answer" *ngIf="category !== 'Sent'">
                                    <textarea class="form-control ng-pristine ng-invalid ng-touched" [formControl]="answerForm.controls['message']" [(ngModel)]="answer.text"></textarea>
                                    <button id="save" class="btn btn-primary" type="button" [disabled]="answerForm.pristine" (click)="sendAnswer()">Send</button>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- <button class="btn btn-primary" type="button" (click)="testButton()"> test button </button> -->
                    <!-- <button id="move" class="btn btn-primary" type="button" [disabled]="inboxForm.pristine" (click)="moveTo()">Send</button> -->
                </section>
                <div class="footer">
                    <div class="copyright">
                        <p class="pull-left sm-pull-reset">
                            <span>Copyright <span class="copyright">©</span> 2016 </span>
                            <span>THEMES LAB</span>.
                            <span>All rights reserved. </span>
                        </p>
                        <p class="pull-right sm-pull-reset">
                            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </tbody>
    </table>
    <!-- pagination -->
    <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap"></ul>
</div>
